services:

  mongodb:
    image: mongo:8.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: thoughtstreamdb
    networks:
      thoughtstream_network:
    healthcheck:
      test: [ "CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongodb_volume:/data/db

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    networks:
      thoughtstream_network:
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8082:8080"
    networks:
      thoughtstream_network:
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy

networks:
  thoughtstream_network:
    driver: bridge

volumes:
  mongodb_volume:
  rediscache_volume: